<h1>Contact Management</h1>

<a class="btn" href="/new_form">New Contact</a>
<table class="table">
  <thead>
    <th> First Name
    </th>
    <th> Last Name
    </th>
    <th> Last Contact Date
    </th>
    <th> Last Contact Notes
    </th>
    <th>Bio
    </th>
    <th> Photo
    </th>
    <th>View
    </th>
    <th>Update
    </th>
    <th>Delete
    </th>
  </thead>
  <tbody>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.first_name %></td>
      <td><%= contact.last_name %></td>
      <td><%= contact.last_contact_date %></td>
      <td><%= contact.last_contact_notes %></td>
      <td><%= contact.bio %></td>
      <td><%= contact.photo_url %></td>
      <td><a href="contacts/view/<%= contact.id %>">View</a></td>
      <td><a href="contacts/update/<%= contact.id %>">Update</a></td>
      <td><a href="contacts/delete/<%= contact.id %>">Delete</a></td>
  <% end %>
    </tr>
  </tbody>
</table>
