<h1>View a new contact</h1>

<dl>
<dt>First Name</dt>
<dd><%= @contact.first_name %>
</dd>
<dt>Last Name</dt>
<dd><%= @contact.last_name %>
</dd>
<dt>Last Contact Date</dt>
<dd><%= @contact.last_contact_date %>
</dd>
<dt>Last Contact Notes</dt>
<dd><%= @contact.last_contact_notes %>
</dd>
<dt>Bio</dt>
<dd><%= @contact.bio %>
</dd>
<dt>Image URL</dt>
<dd><%= @contact.photo_url %>
</dd>
</dl>

<a href="/contacts">Back</a>

